body{
    background-color: aquamarine;
    font: normal 15pt Arial;
}
header{
    color: white;
    text-align: center;
}
h1{
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.637);
}
section{
    width: 300px;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.349);
}
div{
    text-align: center;
}
footer{
    color: white;
    text-align: center;
}
footer > p{
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.349);
}